body {
    background-color: white;
    background-position: center;
    background-attachment: fixed;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    color: #4c4c4c;
}

@media (min-width: 320px) {
    header {
        background-image: url(../img/banner.JPG);
        background-position: 85% 85%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    header h1 {
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 900;
        font-size: 3rem;
        padding: 10%;
        margin: auto;
        text-align: center;
    }

    img {
        width: 50%;
        display: block;
        margin: auto;
    }

    main h2 {
        color: #a9dfee;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 800;
        font-size: 1.5rem;
        padding: 2%;
    }

    main p {
        font-family: 'Libre Franklin', sans-serif;
        padding: 2%;
    }

    section h3 {
        font-family: 'Libre Franklin', sans-serif;
        padding: 2% 2% 0 2%;

    }

    section p {
        font-family: 'Libre Franklin', sans-serif;
        padding: 0 2% 2% 2%;
    }

    h3 {
        font-family: 'Libre Franklin', sans-serif;
        color: #4c4c4c;
        padding: 2% 2% 0 2%;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        padding: 0 2% 2% 2%;
    }

    div p {
        padding: 0;
        color: #5b5b5b;
    }

    .lightblue {
        color: #a9dfee;
        font-weight: 600;
        padding-bottom: 0.5%;
    }

    .date {
        color: #9fa3a4;
        font-style: italic;
    }

    aside h2 {
        color: #a9dfee;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 800;
        font-size: 1.5rem;
        padding: 2%;
    }

    aside ul li {
        list-style-type: none;
        color: #5b5b5b;
        padding-bottom: 0.5%;
    }

    footer {
        width: 100%;
        background-color: black;
        clear: both;
    }

    footer p {
        color: white;
        font-size: 0.875rem;
        display: block;
        padding: 1%;
    }

}
